DATABASE_URL="file:./dev.db"
API_PORT="4200"
API_CORS_ORIGIN="http://localhost:3200"
API_BASE_URL="http://localhost:4200/api"
NEXT_PUBLIC_API_BASE_URL="http://localhost:4200/api"
WEB_BASE_URL="http://localhost:3200"
